<div class="box">
    <div class="create">
        <form #form="ngForm" (ngSubmit)="onSubmitCreate()">
            <fieldset>
                <legend>CREATE SCHEDULE</legend>
                <label>HOUR:</label>
                <input class="sch" type="number" [(ngModel)]="hour" [ngModelOptions]="{ standalone: true }">
                <br>
                <label>MINUTES:</label>
                <input class="sch" type="number" [(ngModel)]="minutes" [ngModelOptions]="{ standalone: true }">
                
                <input type="checkbox" id="isDisc" (change)="check($event)">
                <label for="isDisc">discount?</label>
                    
                <div [style.display]="disCheck ? 'block' : 'none'">
                    <label>DISCOUNT %</label>
                    <input class="sch" type="number" [(ngModel)]="discount" [ngModelOptions]="{ standalone: true }">
                </div>
                <br>
                <input type="submit" value="Create" class="btn-create">
            </fieldset>
        </form>
    </div>
    <div class="update">
        <form #form="ngForm" (ngSubmit)="onSubmitUpdate()">
            <fieldset>
                <legend>UPDATE DISCOUNT</legend>
            
                <label>SCHEDULE:</label>
                <select [(ngModel)]="selectedSchedule" [ngModelOptions]="{ standalone: true }" (change)="onChange()">
                    <option *ngFor="let item of schedules" [value]="item.scheduleID">{{item.hour}}:{{item.minutes}}</option>
                </select>
                <p>Current Discount: {{currentDisc}}%</p>
                <br>
                <label>DISCOUNT %</label>
                <input class="sch" type="number" [(ngModel)]="discountUp" [ngModelOptions]="{ standalone: true }">
                <br>
                <input type="submit" value="Update" class="btn-create">
            </fieldset>
        </form>
    </div>
</div>
