<div class="create">
    <form #form="ngForm" (ngSubmit)="onSubmit()">
        <label>MOVIE NAME:</label>
        <input type="text" id="movie_name" [(ngModel)]="moviename" [ngModelOptions]="{ standalone: true }">
        <br>
        <br>
        <label id="labelSchedule">SCHEDULE:</label>

        <select class="sch" [(ngModel)]="selectedSchedule" [ngModelOptions]="{ standalone: true }">
            <option *ngFor="let item of schedules" [value]="item.scheduleID">{{item.hour}}:{{item.minutes}}</option>
        </select>
        <br>

        <label id="urlShow">URL:</label>
        <input type="text" id="url_img"
        [(ngModel)]="url" [ngModelOptions]="{ standalone: true }">
        <br>
        <input type="submit" value="Create" class="btn-create">
    </form>
</div>