<div class="cotainer">
  <div class="header">
    <h1><img src=".\assets\images\cinemalogo.png"></h1>
    <nav>
      <ul>      
          <li><a routerLink="create-showing" routerLinkActive="active">Create Showing</a></li>
          <li><a routerLink="list-showing" routerLinkActive="active">List Showing</a></li>
          <li><a routerLink="create-sale" routerLinkActive="active">Create Sale</a></li>
          <li><a routerLink="list-sales" routerLinkActive="active">List Sales</a></li>
          <li><a routerLink="manage-discount" routerLinkActive="active">Manage Schedule</a></li>
      </ul>
    </nav>
  </div>
  <div class="routing">
    <router-outlet></router-outlet>
  </div>
</div>


