<div class="box">
    <div class="shows">
        <label>Showing Selection</label>
        <br>
        <select (change)="onChange()"  [(ngModel)]="selectedItem">
            <option *ngFor="let item of showings" [value]="item.showID">{{ item.movieName }}</option>
        </select>
    </div>
    <div>
        <table class="tableShows">
            <tbody>
                <tr *ngFor="let c of columns">
                    <td *ngFor="let r of rows">
                        <button class="seatbtn" (click)="onClick($event)" id={{r}}{{c}}>{{r}}{{c}}</button>
                    </td>
                </tr>
                <tr>
                    <td class="pantalla" colspan=10>PANTALLA</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h3>Sale Value</h3>
        <p id="saleValue" >$ {{saleValue}}</p>
        <h4>Discount</h4>
        <p id="discount" >{{discount}}%</p>
        <button id="sellbtn" (click)="sell()" disabled>SELL</button>
    </div>
</div>
